.dart_tool/
.packages
pubspec.lock

.bundle
_site

build/
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
charts_flutter/example/ios/Flutter/
charts_flutter/example/.idea